.icon {
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  background-size: 100% 100%;
}
.badanmu {
  background-image: url('./icon/collectFood/badanmu.svg')
}
.baiputaogan {
  background-image: url('./icon/collectFood/baiputaogan.svg')
}
.banli {
  background-image: url('./icon/collectFood/banli.svg')
}
.baocuibinggan {
  background-image: url('./icon/collectFood/baocuibinggan.svg')
}
.bigenguo {
  background-image: url('./icon/collectFood/bigenguo.svg')
}
.caomei {
  background-image: url('./icon/collectFood/caomei.svg')
}
.guaziren {
  background-image: url('./icon/collectFood/guaziren.svg')
}
.hongzao {
  background-image: url('./icon/collectFood/hongzao.svg')
}
.huafubing {
  background-image: url('./icon/collectFood/huafubing.svg')
}
.kaixinguo {
  background-image: url('./icon/collectFood/kaixinguo.svg')
}
.mangguo {
  background-image: url('./icon/collectFood/mangguo.svg')
}
.manyuemeiquqi {
  background-image: url('./icon/collectFood/manyuemeiquqi.svg')
}
.naiyouxiaweiyiguo {
  background-image: url('./icon/collectFood/naiyouxiaweiyiguo.svg')
}
.shanbei {
  background-image: url('./icon/collectFood/shanbei.svg')
}
.shousimianbao {
  background-image: url('./icon/collectFood/shousimianbao.svg')
}
.songzi {
  background-image: url('./icon/collectFood/songzi.svg')
}
.xiaojitui {
  background-image: url('./icon/collectFood/xiaojitui.svg')
}
.yaoguo {
  background-image: url('./icon/collectFood/yaoguo.svg')
}
.zhenzi {
  background-image: url('./icon/collectFood/zhenzi.svg')
}
.zhurouchang {
  background-image: url('./icon/collectFood/zhurouchang.svg')
}
.weibolu {
  background-image: url('./icon/weibolu.svg')
}
.trashBin {
  background-image: url('./icon/trashBin.svg')
}

/* food cute */

.avocado {
  background-image: url('./icon/foodCute/food-avocado.svg')
}
.bread {
  background-image: url('./icon/foodCute/food-bread.svg')
}
.cake {
  background-image: url('./icon/foodCute/food-cake.svg')
}
.cashew {
  background-image: url('./icon/foodCute/food-cashew.svg')
}
.chips {
  background-image: url('./icon/foodCute/food-chips.svg')
}
.cookie {
  background-image: url('./icon/foodCute/food-cookie.svg')
}
.doughnut {
  background-image: url('./icon/foodCute/food-doughnut.svg')
}
.eggyolkcake {
  background-image: url('./icon/foodCute/food-eggyolkcake.svg')
}
.hotdog {
  background-image: url('./icon/foodCute/food-hotdog.svg')
}
.macaron {
  background-image: url('./icon/foodCute/food-macaron.svg')
}
.mochi {
  background-image: url('./icon/foodCute/food-mochi.svg')
}
.pecan {
  background-image: url('./icon/foodCute/food-pecan.svg')
}
.pistachio {
  background-image: url('./icon/foodCute/food-pistachio.svg')
}
.pizza {
  background-image: url('./icon/foodCute/food-pizza.svg')
}
.popcorn {
  background-image: url('./icon/foodCute/food-popcorn.svg')
}
.popsicle {
  background-image: url('./icon/foodCute/food-popsicle.svg')
}
.pudding {
  background-image: url('./icon/foodCute/food-pudding.svg')
}
.strawberry {
  background-image: url('./icon/foodCute/food-strawberry.svg')
}
.sushi {
  background-image: url('./icon/foodCute/food-sushi.svg')
}
.taco {
  background-image: url('./icon/foodCute/food-taco.svg')
}